.container, .container-fluid {
	padding-bottom: 10vh;
	padding-top: 7vh;
	text-align: center;
}

.container-login {
	width: 40vw;
}

@media screen and (max-width: 840px) {
	.container-login {
		width: 80vw;
	}
}

.container-new-project {
	width: 55vw;
}

.container-project-page .row * {
	margin-right: 10vw;
	
}
