@font-face {
    font-family: OldEnglish;
    src: url(oldE.ttf);
}
#name{
    font-family: OldEnglish;
    color:white; 
}
#middle div h1{
    font-family: OldEnglish;
    
}
#navig{
    background-color: #7E82B1;
    
}
#navig div ul li a{
    color: white;
}
#navig div span a{
    color: white;
    
}
#middle{
    
    padding-bottom: 60px;
    
}
footer{
    background-color: #7E82B1; 
    color: white;
}
footer div{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    
}
#body{ 
    background-color: rgb(204,204,255);
}
.tablename{
    font-family: OldEnglish;
    font-size: 30px;
}
#ttt{
    width: 50%;
   margin-left: auto;
    margin-right: auto;
    
}
#t{
    background-color:rgb(204,204,255); 
    
}
.log{
     width: 50%;
   margin-left: auto;
    margin-right: auto;   
    
}
/*Checkbox style*/
.containerr {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.containerr input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerr:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerr input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containerr input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containerr .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#tables{
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.res li{
     width: 70%;
   margin-left: auto;
    margin-right: auto;  
    
}
.who{
    max-width: 60%
    
} 
.text{
    
    padding-left: 10px
}