/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 30, 2017, 4:27:10 PM
    Author     : kulyndar;
*/


#navig{
    background-color: #7E82B1;
    
}
#navig div ul li a{
    color: white;
}
#navig div span a{
    color: white;
    
}
#middle{
    
    padding-bottom: 60px;
    
}
footer{
    background-color: #7E82B1; 
    color: white;
}
footer div{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    
}
#body{ 
    background-color: rgb(204,204,255);
}

#ttt{
    width: 50%;
   margin-left: auto;
    margin-right: auto;
    
}
#t{
    background-color:rgb(204,204,255); 
    
}