body {
  margin: 0;
  background-color: transparent !important;
}

/*navigation bar*/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: #679B00;
  /* overflow: hidden; */
  width: 100%;
  height: 14%;
  top: 0;
  z-index: 1;
}

nav ul li:first-of-type {
  margin-left: 20%;
}

nav ul li {
  display: inline;
  float: left;
  width: 15%;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 18% 2%;
  font-size: large;
}

nav ul li:not(.active) a:hover {
  background-color: #86B32D;
}

.active {
  background-color: #85004B;
}

#svg div div .injected-svg {
  left: 5%;
  top: 0%;
  width: 10%;
  height: 100%;
}

.under-nav {
  margin-top: 40px;
}

/*svg style*/

.injected-svg {
  visibility: visible;
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 90%;
  top: 5%;
  display: block;
  margin: auto;
  z-index: 1;
}

.injected-svg image {
  visibility: visible;
  opacity: 1;
}

/*Tabs*/

.tabs .tab>div:not(.display) {
  display: none;
}

.tabs {
  text-align: center;
  padding-top: 50px;
  opacity: 1;
  transition: opacity 1s ease;
}

.tabs .tab div:not(.link) {
  margin-top: 40px;
}

.links {
  list-style: none;
  padding: 0;
  position: relative;
  max-width: 80%;
  margin: 20px auto 26px;
  border: none;
  z-index: 0;
}

.links li::after {
  background: #333 none repeat scroll 0 0;
  content: "";
  height: 4px;
  position: absolute;
  top: 33px;
  width: 20%;
  z-index: -1;
  transition: background 1s;
}
.links li.third::after{
  width:0;
}

.links li.visited::after {
  background: #f5fbf7;
}

.links li:last-child::after {
  width: 0%;
}

.links li {
  display: inline-block;
  width: 18%;
  text-align: center;
  float: none;
}

.links li a {
  padding: 0;
  border: none;
  color: #fffcfc;
  display: block;
  height: 68px;
  width: 68px;
  text-align: center;
  margin: 0 auto;
  background: #333;
  border: 3px solid #f2f1f7;
  line-height: 65px;
  font-size: 30px;
  border-radius: 50%;
  text-decoration: none;
}

.links li.activeTab, .links li.visited {
  color: #57b87b;
}

.links li.activeTab a, .links li.visited a {
  background: #e8e8e8;
  border-color: #fdfdfd;
  color: black;
}

/*Tiles*/

.tile {
  height: 100%;
  border-radius: 3px;
  text-align: center;
  font-size: 45pt;
  color: white;
  /* transition: all 0.5s ease; */
}

.tile.pow1 {
  background-color: #fed330;
  padding-top: 8px;
}

.tile.pow2 {
  background-color: #f7b731;
  padding-top: 8px;
}

.tile.pow3 {
  background-color: #fd9644;
  padding-top: 8px;
}

.tile.pow4 {
  background-color: #fa8231;
  padding-top: 8px;
}

.tile.pow5 {
  background-color: #fc5c65;
  padding-top: 8px;
}

.tile.pow6 {
  background-color: #eb3b5a;
  padding-top: 8px;
}

.tile.pow7 {
  background-color: #26de81;
  font-size: 40pt;
  padding-top: 10px;
}

.tile.pow8 {
  background-color: #20bf6b;
  font-size: 40pt;
  padding-top: 10px;
}

.tile.pow9 {
  background-color: #2bcbba;
  font-size: 40pt;
  padding-top: 10px;
}

.tile.pow10 {
  background-color: #4b7bec;
  font-size: 30pt;
  padding-top: 20px;
}

.tile.pow11 {
  background-color: #8854d0;
  font-size: 30pt;
  padding-top: 20px;
}

/*Game grid*/

.game {
  padding-left: inherit;
  margin-bottom: 80px;
}

.game-container {
  margin-top: 20px;
  position: relative;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  width: 500px;
  height: 500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  margin-bottom: 15px;
}

.row:last-child {
  margin-bottom: 0;
}

.row:after {
  content: "";
  display: block;
  clear: both;
}

.cell {
  width: 106.25px;
  height: 106.25px;
  margin-right: 15px;
  float: left;
  border-radius: 3px;
  background: rgba(238, 228, 218, 0.35);
}

.cell:last-child {
  margin-right: 0;
}

/*User info*/

.avatar {
  width: 120px;
  float: left;
}

.avatar~div {
  text-align: right;
  font-size: 30px;
}

.user {
  height: 120px;
  width: 455px;
  margin: auto;
  color: lightgrey;
}

.spinner {
  width: 40px;
}

/*Restart and win*/

.filter {
  display: block;
  background-color: black;
  width: 500px;
  height: 500px;
  position: absolute;
  opacity: 0.8;
  left: 0;
  top: 0;
  z-index: 1
}

.filter-none {
  display: none;
}

.filter-button {
  display: block;
  position: absolute;
  color: white;
  z-index: 2;
  font-size: 35px;
  top: 120px;
  width: 500px;
  height: 500px;
  text-align: center;
}

.filter-button-none {
  display: none;
}

.filter-button .glyphicon {
  font-size: 150px;
  padding-top: 15px;
}

/*Background*/

html {
  background: black url(/styles/back1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*buttons*/

html, body {
  height: 100%;
}

.container-button {
  max-width: 960px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  transition: opacity 1s ease;
  opacity: 1;
  transition-delay: 0.5s;
}

.bskew {
  background: transparent;
  color: inherit;
  text-decoration: none;
  border: 0;
  transition: all 200ms ease-in;
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
}

.bskew-default {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: 4px solid white;
  padding: 12px 28px;
}

.bskew-default:hover {
  background: white;
  color: black;
}

.bskew--skew {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}

.bskew--skew>span {
  -webkit-transform: skew(10deg);
  transform: skew(10deg);
  display: inline-block;
}

/*Home page*/

.home {
  transition: opacity 1s ease;
  opacity: 1;
  transition-delay: 0.5s;
}

h1 {
  text-align: center;
  color: white;
  padding-bottom: 40px;
  border-bottom: 2px solid white;
}

.intro {
  opacity: 1;
  transition: opacity 1s ease;
}

.dissapear {
  opacity: 0;
}

/*Tabs content*/

#username {
  width: 25%;
  line-height: 50px;
  font-size: 25px;
  padding-left: 1%;
  border-top: none;
  border-left: none;
  background: rgba(0, 0, 0, .075);
  border-right: none;
  border-bottom: 2px solid whitesmoke;
  color: white;
}

#username::placeholder {
  color: #ccc9c9;
  font-style: italic;
}

#username::-ms-input-placeholder {
  color: #ccc9c9;
  font-style: italic;
}

#username:focus {
  outline: none;
}

.input label {
  color: white;
  display: block;
  font-size: 25pt;
  padding: 30px;
}

.next {
  cursor: pointer;
  font-size: 25pt;
  padding: 15px;
  color: white;
  transition: background-color 0.3s linear;
  top: 25%;
}

.next:not(.disable):hover {
  background-color: white;
  color: black;
}

.prev {
  cursor: pointer;
  font-size: 25pt;
  padding: 15px;
  color: white;
  transition: background-color 0.3s linear;
  top: 25%;
}

.prev:not(.disable):hover {
  background-color: white;
  color: black;
}
.disable{
  color:grey;
  cursor: not-allowed
}

.pageButtons {
  display: flex;
  justify-content: space-around;
}

.avatar-chooser {
  width: 150px;
  margin: 30px;
  transition: transform 0.2s linear;
  cursor: pointer;
}

.avatar-chooser:hover {
  transform: scale(1.3);
}

.avatar-chooser.chosen {
  transform: scale(1.4);
  border: 10px solid #e8e8e8;
  border-radius: 50%;
}

.image-select {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.play-button {
  width: 23%;
  font-size: 50px;
  padding: 15px;
  padding-left: 50px;
  padding-right: 30px;
  border: 6px solid rgba(255, 255, 255, .15);
  border-radius: 20px;
  outline: none;
  transition: width 0.5s ease
}

.play-button:hover {
  width: 50%;
}

.play-button>span {
  padding-left: 20px;
  top: 4px !important;
}

.play {
  padding-top: 50px;
}

.go {
  width: 50%;
}

/*resultList*/

.res-cell {
  display: inline;
  /* padding: 30px; */
  color: white;
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.res-cell.image img {
  width: 100px;
}

.res-row {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  background-color: rgba(255, 255, 255, .15);
  width: 70%;
  margin-left: auto;
}

.res-row> :first-child {
  padding-left: 30px;
}

.res-row> :last-child {
  padding-right: 30px;
}

.loader {
  position: absolute;
  width: 40%;
  left: 30%;
}

.res-cell>div {
  padding-top: 25px;
}

.resultList .res-row:nth-child(even) {
  background: rgba(0, 0, 0, .5);
}

.resultList:not(.noSVG)> :first-child>.username>div::after {
  content: url(/svg/first.svg);
}

.resultList:not(.noSVG)> :first-child>.username>div {
  padding-top: 5px;
}

.resultList:not(.noSVG)> :nth-child(2)>.username>div::after {
  content: url(/svg/second.svg);
}

.resultList:not(.noSVG)> :nth-child(2)>.username>div {
  padding-top: 5px;
}

.resultList:not(.noSVG)> :nth-child(3)>.username>div::after {
  content: url(/svg/third.svg);
}

.resultList:not(.noSVG)> :nth-child(3)>.username>div {
  padding-top: 5px;
}

.res-row .res-cell.username {
  width: 50%;
  text-align: center;
}

/*Kompatibility with Edge*/

svg.edge {
  position: absolute;
  height: 95%;
  z-index: 1;
  transition: opacity 1s ease;
  top: 5px;
}

/*Sound button*/

.volume {
  font-size: 35pt;
  color: white;
  cursor: pointer;
}

/*Manual*/

.help {
  font-size: 20pt;
  width: 50px;
  float: left;
  cursor: pointer;
}
