/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/*
    Created on : 28.4.2018, 16:12:31
    Author     : Dan Nguyen
*/

body {
  padding-top: 70px;
}

#content {
  /* width: 80%; */
  margin-left: auto;
  margin-right: auto;
}

.spinner > div {
  margin-right: auto;
  margin-left: auto;
}

.middle-spinner .css-jxiqlq {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
}

img {
  width: 10%;
  margin: 20px;
}

.well {
  width: 400px;
  margin: 0 auto 10px;
}

.or {
  text-align: center;
  font-size: 14pt;
  padding: 10px;
}

.welcome h1 {
  margin: auto;
  text-align: center;
}

.welcome p {
  padding: 50px;
}

.sw-content {
  border: none !important;
  border-color: transparent !important;
  width: 70%;
  margin: auto;
  padding: 1%;
  box-shadow: none !important;
}

.sw-create {
  border: none !important;
  border-color: transparent !important;
  width: 50%;
  margin: auto;
  padding: 1%;
  box-shadow: none !important;
}

.tournament-list {
  width:75%;
  margin:auto;
  
}

.sw-add-container {
  width: fit-content;
  margin: auto;
}

.sw-add-container .col-md-3 {
  width: 500px;
}

.sw-add {
  width: auto !important;
  margin-left: auto;
  margin-right: auto;
}

.sw-nav {
  width: 100%;
}

.sw-match {
  padding: inherit;
  width: auto;
}

.sw-match-input {
  width: auto;
  float: right;
}

.sw-navheader > a {
  display: flex;
  align-items: center;
  float: left;
  width: min-content;
}

.sw-navheader > a > img {
  width: 65px;
  margin: inherit;
}

.help-block {
  margin-bottom: 0px !important;
}

.tbd {
  color: darkgray;
}

.main {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}

.col {
  display: flex;
  float: left;
  width: auto;
  align-content: center;
  flex-direction: column-reverse !important;
}

.col * {
  order: 2;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
}

.data {
  padding: 10px;
}

.winner > label {
  font-size: large;
  color: green !important;
}

.loser > label {
  font-size: small;
  color: black !important;
}

.not-decided > label {
  color: black !important;
}

.login-loader .css-19z8277 {
  margin: auto;
}

.table-row:hover {
  cursor: pointer;
  background-color: lightsteelblue;
}

.glyphicon {
  padding-left: 5px;
}

.conflict-detail {
  color: #b2303c;
}

.conflict-detail:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .sw-match-input {
    width: auto;
    display: flex;
  }
  .col {
    width: 20%;
    min-width: min-content;
  }
}

@media (min-width: 1200px) {
  .col-lg-3 {
    width: 30%;
    float: left;
  }
  .col-lg-12 {
    float: none !important;
  }
}

.sw-match-detail {
  text-align: center;
}

.sw-match .form-horizontal .control-label {
  text-align: center !important;
}
.winner-header {
  text-align: center;
}
.winner-left {
  transform: rotate(-45deg);
  width: 50px;
}
.winner-right {
  transform: rotate(45deg);
  width: 50px;
}
