<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/style.css">
		<title>Detail dotazníku</title>
	</head>
	<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">Portál - informační systém</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		  <li class="nav-item active">
				<a class="nav-link" href="/zamestnanec/index">Seznam projektů</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/logout">Odhlásit</a>
		  </li>
		</ul>
	  </div>
	</nav>
	<div class="container container-questionnaire">		
		<h2>Detail nového dotazníku</h2></br>
		<form method="post" th:action="@{'/zamestnanec/new-questionnaire-detail'}">
			<input type="hidden" name="projectID" th:value="${forProject}">
					<div class="form-group">
						<label for="new-project-from" class="col-form-label">Začátek:</label>
						<input type="date" class="form-control" name="new-project-from" placeholder="Začátek">
					</div>
					<div class="form-group">
						<label for="new-project-to" class="col-form-label">Konec:</label>
						<input type="date" class="form-control" name="new-project-to" placeholder="Konec">
					</div>

				<div class="form-group">
					<label for="new-project-title" class="col-form-label sr-only">Počet odpovědí:</label>
					<input type="text" class="form-control" name="new-project-title" placeholder="Počet odpovědí">
				</div>

					<div class="form-group">
						<label for="new-project-description" class="col-form-label sr-only">Popis:</label>
						<textarea class="form-control" rows="5" name="new-project-description" placeholder="Popis"></textarea>
					</div>

				<div class="custom-file">
				  <input type="file" class="custom-file-input" name="customMap">
				  <label class="custom-file-label" for="customFile">Přidat mapu</label>
				</div>
				<div class="custom-file">
				  <input type="file" class="custom-file-input" name="customFile">
				  <label class="custom-file-label" for="customFile">Přidat obrázek</label>
				</div>
			</br></br>
			<div class="row justify-content-center btn-group">
				<a class="btn btn-primary" th:href="@{'/zamestnanec/project-page/'+${forProject}}">Zpět</a>
				<button type="submit" class="btn btn-primary" name="nForm">Vytvořit dotaznik</button>
			</div>
		</form>		
	</div>
		
						
		
		<!--Bootstrap required JS-->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
	</body>
</html>
