<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/style.css">
		<title>Dotazník</title>
	</head>
	<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">Portál - informační systém</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		  <li class="nav-item active">
				<a class="nav-link" href="/zamestnanec/index">Seznam projektů</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/logout">Odhlásit</a>
		  </li>
		</ul>
	  </div>
	</nav>
	<div class="container container-new-questionnnaire">		
		<h2>Vytvořit nový dotaznik</h2></br>
		<div class="container closed-project-questionnaire-form">
			<button class="btn btn-primary" onClick=myFunction()>Nová otázka</button>
			<form action="#" th:action="@{/zamestnanec/new-questionnaire}" th:object="${questions}" method="post" id="questions">
			<input type="hidden" name="projectID" th:value="${projectID}">
			<input type="hidden" name="formID" th:value="${formID}">
			<th:block th:each="i : ${#numbers.sequence( 0, 49)}">
			<input th:if="${i == 0}" class="form-control" style="display:block;" placeholder="Otázka #1" type="text" th:value="${questions[i]}" th:name="${'question'+i}" th:id="${'question'+i}" autofocus>
			<input th:if="${i != 0}" class="form-control" style="display:none;" type="text" th:value="${questions[i]}" th:name="${'question'+i}" th:id="${'question'+i}">
			</th:block>
				
				<button  class="btn btn-primary" type="submit" name="save">Odeslat</button>
			</form>		
			
		
		
						
		
		<!--Bootstrap required JS-->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
		<script>
		
		function myFunction() {
			var i;
			var str;
			  for(i=1; i<50; i++){
				  str = "question"+(i);
				  if (document.getElementById(str).style.display == "none") {
					  document.getElementById(str).style.display = "block";
                                          document.getElementById(str).focus();
					  document.getElementById(str).setAttribute("placeholder","Otázka #"+(i+1));
					  break;
				  }
			  }
			}
		
		</script>
	</body>
</html>
