.container, .container-fluid {
	padding-bottom: 10vh;
	padding-top: 7vh;
	text-align: center;
}

.container-login {
	width: 40vw;
}

@media screen and (max-width: 840px) {
	.container-login {
		width: 80vw;
	}
}

.container-new-project {
	width: 55vw;
}

.container-project-page .row * {
	margin-right: 10vw;
	
}
button a{
    color:white!important;
}
table tbody tr th span{
    margin-left: auto;
    margin-right: auto !important;
}
input[id^="question"]{
    margin-top: 20px;
    margin-bottom: 20px;
}
.progress{
    background-color: #D3D3D3 !important;
}
.table{
        margin-top: 2rem
}
