<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/style.css">
		
		<title>Přihlášení</title>
	</head>
	<body>
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">Portál - informační systém</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		  <li class="nav-item active">
			<a class="nav-link" href="/manazer/project-list">Domů<span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
		  <a href="/logout" class="nav-link">Odhlásit</a>
		  </li>
		</ul>
	  </div>
	</nav>
	<div class="container container-new-project">
		<div class="row">
			<div class="col">
				<h2>Nový projekt</h2>
				</br>
                                <form th:action="@{/manazer/project/new}" method="POST">
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="new-project-title" class="col-form-label sr-only">Název:</label>
								<input type="text" name="projname" class="form-control" id="new-project-title" placeholder="Název">
							</div>
							<div class="form-group">
								<label for="new-project-client" class="col-form-label sr-only">Zákazník:</label>
								
                                                                <select name="customer"  class="custom-select" id="new-project-client">
                                                                    <option value="" disabled selected>Zákazník</option>
                                                                        <option value="" th:each="cust:${customers}" th:value="${cust.cliName}" th:text="${cust.cliName}"></option>
									
								</select>
							</div>
							<div class="form-group">
								<label for="new-project-supervisor" class="col-form-label sr-only">Vedoucí:</label>
								
                                                                <select name="supervisor"  class="custom-select" id="new-project-supervisor">
                                                                    <option value="" disabled selected>Vedoucí</option>
                                                                        <option value="" th:each="emp:${emplist}" th:value="${emp.login}" th:text="${emp.empName}"></option>
									
								</select>
							</div>
							<div class="form-group">
								<label for="new-project-specialization" class="col-form-label sr-only">Zaměření:</label>
								<select name="spec"  class="custom-select" id="new-project-specialization">
                                                                    <option value="" disabled selected>Zaměření</option>
                                                                        <option value="" th:each="spec:${speclist}" th:value="${spec.specName}" th:text="${spec.specName}"></option>
									
								</select>
							</div>
							<div class="form-group">
								<label for="new-project-from" class="col-form-label sr-only">Začátek:</label>
								<input type="date" name="from" class="form-control" id="new-project-from" placeholder="Začátek">
							</div>
							<div class="form-group">
								<label for="new-project-to" class="col-form-label sr-only">Konec:</label>
								<input type="date" name="to" class="form-control" id="new-project-to" placeholder="Konec">
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label for="new-project-description" class="col-form-label sr-only">Popis:</label>
								<textarea class="form-control" name="description" rows="5" id="new-project-description" placeholder="Popis"></textarea>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Přidat zaměstnance</button>
				</form>				
			</div>
		</div>
	</div>
		
						
		
		<!--Bootstrap required JS-->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
	</body>
</html>
