<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/style.css">
		<title>Seznam projektů</title>
	</head>
	<body>
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">Portál - informační systém</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		  <li class="nav-item active">
			<a class="nav-link" href="/manazer/project-list">Domů<span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
		  <a href="/logout" class="nav-link">Odhlásit</a>
		  </li>
		</ul>
	  </div>
	</nav>
	<div class="container container-project-page-with-questionnaire">		
		<h2 th:text="${proj.projName}">Název projektu</h2></br>
		<div class="row justify-content-center">
			<table class="table table-striped table-hover">
				<tbody>
					<tr>
						<th scope="row">Zákazník</th>	
						<th th:text="${proj.client.cliName}">Jan Nový</th>					
					</tr>
					<tr>
						<th scope="row">Vedoucí</th>
						<th th:text="${proj.supervisor.empName}">Lev Bílý</th>	
					</tr>
					<tr>
						<th scope="row">Začátek</th>
						<th th:text="${#dates.format(proj.dateFrom, 'dd/MM/yyyy')}"> 2.5.2018</th>	
					</tr>
					<tr>
						<th scope="row">Konec</th>
						<th th:text="${#dates.format(proj.dateTo, 'dd/MM/yyyy')}">2.5.2019</th>	
					</tr>
					<tr>
						<th scope="row">Status</th>
						<th>Otevřený</th>	
					</tr>
					<tr>
						<th scope="row">Aktuální stav</th>
						<th>
							<div class="progress center-block">
							  <div class="progress-bar" role="progressbar" th:style="|width: ${state}%|" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</th>	
					</tr>
					<tr>
						<th scope="row">Stav sběru dat</th>
						<th>
							<div class="progress center-block">
							  <div class="progress-bar" role="progressbar" th:style="|width: ${state}%|" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</th>	
					</tr>
					<tr>
						<th scope="row">Popis</th>
						<th th:text="${proj.description}">...</th>	
					</tr>
					<tr>
						<th scope="row">Zaměření</th>
						<th th:text="${proj.specialization.specName}">IT/Informatika</th>	
					</tr>
				</tbody>
			</table>
		</div></br></br>
		<div class="row ">			
			<div class="col btn-group btn-group-sm">
				<button type="button" class="btn btn-primary"><a th:href="@{'/manazer/project-page/employees/' + ${proj.id}}">Seznam pracovníků</a></button>	
                                <button type="button" class="btn btn-primary"><a th:href="@{/manazer/project/{id}/export(id=${proj.id})}">Export do Excelu</a></button>	
				<button type="button" class="btn btn-primary"><a th:href="@{/manazer/form/{id}/detail(id=${form.formId})}">Detail dotazniku</a></button>	
			</div>
			<div class="col">
				<button type="button" class="btn btn-primary btn-lg"><a th:href="@{/manazer/form/{id}/open(id=${form.formId})}">Otevřit dotaznik</a></button>	
			</div>		
			<div class="col">
				<button type="button" class="btn btn-primary btn-lg"><a th:href="@{/manazer/project/close/{id}(id=${proj.id})}">Uzavřit projekt</a></button>	
			</div>	
		</div>
	</div>
		
						
		
		<!--Bootstrap required JS-->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
	</body>
</html>
