<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/style.css">
		<title>Odebrat zaměstnance</title>
	</head>
	<body>
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">Portál - informační systém</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		  <li class="nav-item active">
			<a class="nav-link" href="/manazer/project-list">Domů<span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
		  <a href="/logout" class="nav-link">Odhlásit</a>
		  </li>
		</ul>
	  </div>
	</nav>
	<div class="container container-projects">		
		<h2 th:text="${emp.empName}">Jan Bílý</h2></br>
                <form th:action="@{/manazer/employees/{login}/remove(login=${emp.login})}" method="POST">
			<div class="row">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th scope="col">Název projektu</th>
							<th scope="col">Popis</th>
							
							<th scope="col">Odebrat</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="proj:${projects}">
							<td th:text="${proj.projName}" scope="col">Jméno</td>
							<td th:text="${proj.description}" scope="col bg-danger">Popis</td>
							
							<td scope="col">
								<div class="form-check">
								  <input class="form-check-input" name="proj-del" type="checkbox" th:value="${proj.id}" value="" id="add-employee">
								  <label class="form-check-label sr-only" for="remove-employee">Odebrat</label>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div></br>
			<button type="submit" class="btn btn-primary">Odebrat zaměstnance z projektů</button>		
		</form>
	</div>
		
						
		
		<!--Bootstrap required JS-->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
	</body>
</html>
