<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/style.css">
		<title>Přidat zaměstnance</title>
	</head>
	<body>
	<div class="container container-projects">		
            <h2>Přidat zaměstnance na projekt <span th:text="${projname}">Projekt</span></h2></br>
		<form></form>
			<div class="row">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th scope="col">Jméno</th>
							<th scope="col">Vytíženost</th>
							<th scope="col">Zaměření</th>
							<th scope="col">Přidat</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="col">Jméno</th>
							<th scope="col bg-danger">Vytíženost</th>
							<th scope="col">Zaměření</th>
							<th scope="col">
								<div class="form-check">
								  <input class="form-check-input" type="checkbox" value="" id="add-employee">
								  <label class="form-check-label sr-only" for="add-employee">Přidat</label>
								</div>
							</th>
						</tr>
					</tbody>
				</table>
			</div></br>
			<button type="submit" class="btn btn-primary">Přidat zaměstnance</button>		
		</form>
	</div>
		
						
		
		<!--Bootstrap required JS-->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
	</body>
</html>
