<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        <title>Seznam projektů</title>
        <style>
            table.sortable thead {
                
                cursor: pointer;
            }
        </style>
          <script src="/sorttable.js"></script>
    </head>
    <body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">Portál - informační systém</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		  <li class="nav-item active">
			<a class="nav-link" href="index.hmtl">Domů<span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="project-list.html">Seznam projektů</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="list-of-questionnaires.html">Seznam dotazníků</a>
		  </li>
		</ul>
	  </div>
	</nav>
        <div class="container container-projects">		
            <h2>Seznam projektů</h2></br>
            <div class="row">			
                <div class="col=11">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="project-list-select" class="col-form-label col-sm-2 sr-only">Projekty:</label>
                            <select class="custom-select" id="project-list-select">
                                <option value="all-projects" selected>Všechny</option>
                                <option value="open-projects-only">Jen otevřené</option>
                                <option value="closed-projects-only">Jen uzavřené</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="project-list-select-from" class="col-form-label col-sm-2">Od:</label>
                            <div class="col"><input type="date" id="project-list-select-from"></div>

                        </div>
                        <div class="form-group">
                            <label for="project-list-select-to" class="col-form-label col-sm-2">Do:</label>
                            <input type="date" id="project-list-select-to">
                        </div>
                        <button type="submit" class="btn btn-primary">Filtrovat projekty</button>			
                    </form>				
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-primary" onclick="redirecToNewProject()">Nový projekt</button>		
                </div>
            </div>
            </br></br>
            <div class="row">
                <table class="table table-striped table-hover sortable">
                    <thead>
                        <tr>
                            <!--<th pages:sort="name">Product</th>-->
                            <th scope="col">Název</th>
                            <th scope="col">Zákazník</th>
                            <th scope="col">Vedoucí</th>
                            <th scope="col">Začátek</th>
                            <th scope="col">Konec</th>
                            <th scope="col">Status</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="projects" th:each='proj:${projects}'>
                            <td  th:text="${proj.name}" scope="col">Název</td>
                            <td th:text="${proj.customer}" scope="col">Zákazník</td>
                            <td th:text="${proj.supervisor}" scope="col">Vedoucí</td>
                            <!--#dates.format(project.dateFrom, 'dd/MM/yyyy')-->
                            <td th:text="${#dates.format(proj.dateFrom, 'dd/MM/yyyy')}" scope="col">Začátek</td> 
                            <td th:text="${#dates.format(proj.dateTo, 'dd/MM/yyyy')}" scope="col">Konec</td>
                            <td th:text="${proj.status}" scope="col">Status</td>
                            
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>



        <!--Bootstrap required JS-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
      
        <script>
            document.querySelectorAll(".projects").forEach(pr=>pr.addEventListener("click", myRedirect));
            function myRedirect(e){
                console.log(e.currentTarget.children[0].textContent);
                location.pathname="/project/"+e.currentTarget.children[0].textContent;
                
            }
            function redirecToNewProject(){
                location.pathname="/project/new";
            }
            
        </script>
    </body>
</html>
