<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/style.css">
		<title>Seznam projektů</title>
	</head>
	<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">Portál - informační systém</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		  <li class="nav-item active">
			<a class="nav-link" href="index.hmtl">Domů<span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="project-list.html">Seznam projektů</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="list-of-questionnaires.html">Seznam dotazníků</a>
		  </li>
		</ul>
	  </div>
	</nav>
	<div class="container container-project-page">		
		<h2 th:text="${name}">Název projektu</h2></br>
		<div class="row justify-content-center">
			<table class="table table-striped table-hover">
				<tbody>
					<tr>
						<th scope="row">Zákazník</th>	
						<th th:text="${customer}">Jan Nový</th>					
					</tr>
					<tr>
						<th scope="row">Vedoucí</th>
						<th th:text="${supervisor}">Lev Bílý</th>	
					</tr>
					<tr>
						<th scope="row">Začátek</th>
						<th th:text="${#dates.format(from, 'dd.MM.yyyy')}">2.5.2018</th>	
					</tr>
					<tr>
						<th scope="row">Konec</th>
						<th th:text="${#dates.format(to, 'dd.MM.yyyy')}">2.5.2019</th>	
					</tr>
					<tr>
						<th scope="row">Status</th>
						<th th:test="${status}">Otevřeno</th>	
					</tr>
					<tr>
						<th scope="row">Popis</th>
						<th th:text="${description}">...</th>	
					</tr>
					<tr>
						<th scope="row">Zaměření</th>
						<th th:text="${spec}">IT/Informatika</th>	
					</tr>
				</tbody>
			</table>
		</div></br></br>
		<div class="row justify-content-center">			
                    <button type="button" onclick="toEmployees()" class="btn btn-primary">Seznam pracovníků</button>	
			<button type="button" class="btn btn-primary">Vytvořit dotaznik</button>	
		</div>
	</div>
		
						
		
		<!--Bootstrap required JS-->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
                <script>
                    function toEmployees(){
                        location.pathname = location.pathname+"/employees";
                        
                    }
                    
                </script>
	</body>
</html>
